<%- include('partials/_header.ejs') %>


   <!-- banner section start -->
   <div class="banner_section layout_padding">
      <div class="container">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                        <div class="buynow_bt"><a href="#">Buy Nowd</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
   </div>
   <!-- banner section end -->
   </div>

   <div class="index-p-container">
      <div class="fashion_section">
         <% for(let i = 0 ;i<products.length;i++){ %> 
         <div class="i-products">
            <div class="">
               <h4 class="shirt_text"><%= products[i].name %></h4>
               <p class="price_text">Price <span style="color: #262626;">$ <%= products[i].price %></span></p>
               <h4 class="shirt_text"><%= products[i].category.name %></h4>
               <h4 class="shirt_text">Seller : <%= products[i].user %></h4>
               <div class="tshirt_img"><img src="images/tshirt-img.png"></div>
               <div class="btn-see">
                  <div><a href="products/<%= products[i].slug %>">See More</a></div>
               </div>
            </div>
         </div>  
         <% } %>    
      </div>
   </div>

   <%- include('partials/_footer.ejs') %>

      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <script>
         function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
         }

         function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
         }
      </script>
      </body>

      </html>