<%- include('partials/_header.ejs') %>

   <!-- banner section start -->
   <div class="banner_section layout_padding">
      <div class="container">
         <div id="my_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-sm-12">
                        <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                        <div class="buynow_bt"><a href="#">Buy Now</a></div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
   </div>
   <!-- banner section end -->
   </div>
   <!-- banner bg main end -->
   <!-- fashion section start -->
   <div class="fashion_section">
      <div class="card">
            <div class="product-image"></div>
            <div class="info">
                <div class="product-header">
                    <div class="product-name common"><%= product.name %></div>
                    <div class="product-price common">$<%= product.price %></div>
                </div>
                <div>
                    <div class="product-description common"><%= product.description %></div>
                </div>
                <div>
                  <% if(user && !(user.products.includes(product._id)) && !(user.role == 'admin')){ %> 
                  <form action="/products/addCart" method="post">
                     <input type="hidden" name="product_single_id" value="<%= product._id %>">
                     <button type="submit" class="product-basket-button common"><span href="#">Add Basket</span></button>
                  </form>
                  <% } %> 
                  </div>
            </div>
      </div>
   </div>
   <!-- fashion section end -->
   <%- include('partials/_footer.ejs') %>

   <!-- Javascript files-->
   <script src="js/jquery.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.bundle.min.js"></script>
   <script src="js/jquery-3.0.0.min.js"></script>
   <script src="js/plugin.js"></script>
   <!-- sidebar -->
   <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="js/custom.js"></script>
   <script>
      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }
   </script>
   </body>

   </html>